.App {
  text-align: center;
  height: 100%;
  min-height: 100vh;
  background-color: #00005d;
}

main {
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

section.demo-body {
  margin-bottom: 10vh;
}

code.header {
  color: white;
  font-size: 2rem;
}

.option-entry {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;

  min-width: 10rem;
  min-height: 2rem;
}

.option-entry .label {
  font-weight: bold;
  min-width: 4rem;
  font-size: 1rem;
  color: white;
}

.option-entry .content {
  color: rgb(223, 223, 223);
}
