.App {
  text-align: center;
  height: 100%;
  min-height: 100vh;
  background-color: #00005d;
}

main {
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

section.demo-body {
  margin-bottom: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

code.header {
  color: white;
  font-size: 2rem;
}

.option-entry {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;

  min-width: 10rem;
  min-height: 2rem;
}

.option-entry .label {
  font-weight: bold;
  min-width: 4rem;
  font-size: 1rem;
  color: white;
}

.option-entry .content {
  color: rgb(223, 223, 223);
}

table.output {
  color: white;
}

table.output th,
table.output td {
  padding: 0.3rem 0.8rem;
}

.option-input-container {
  margin: 1rem 0 1.5rem;
  width: 20rem;
}

.form-entry {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem 0;
}

.form-entry label {
  color: white;
  font-weight: bold;
  text-align: left;
  margin-right: 1rem;
  min-width: 5rem;
}

.form-entry input {
  font-weight: bold;
  background: #232323;
  border: 2px solid black;
  color: white;
  line-height: 2;
  padding-left: 0.4rem;
}
