.App {
  text-align: center;
  height: 100%;
  min-height: 100vh;
}

main {
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.option-entry {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;

  min-width: 10rem;
  min-height: 2rem;
}

.option-entry .label {
  font-weight: bold;
  min-width: 4rem;
  font-size: 1rem;
}

.option-entry .content {
  color: rgb(44, 44, 44);
}
